$fontstack: 'Poppins', sans-serif;
$fontbody: 'Open Sans', sans-serif;

@mixin transition($second) {
  -webkit-transition: all $second ease-in-out;
  -moz-transition: all $second ease-in-out;
  transition: all $second ease-in-out;
}